<bs-container>
  <bs-row>
    <bs-col xc="12" sm="8" smoffset="2" md="6" mdoffset="3">

      <ml-login-form>

        <h2>로그인</h2>
      
        <%= form_for(:session, url: login_path, :html => {:id => 'login_form'})  do |f| %>

          <ml-login-inner-form>

            <paper-input-decorator id="login_email" label="이메일" floatingLabel>
            <%= f.text_field :email, is:"core-input"%>
            </paper-input-decorator>

            <paper-input-decorator id="login_password" label="비밀번호" floatingLabel>
            <%= f.password_field :password, is:"core-input" %>
            </paper-input-decorator>

            <%= f.label :remember_me, id:"login_checkbox" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me on this computer</span>
            <% end %>
            
            <ml-submit-button id="login_button"><%= f.submit "로그인",is:"core-input"%></ml-submit-button>

          </ml-login-inner-form>

        <% end %>

        <p id="login_signup">New user? <%= link_to "Sign up now!", signup_path %></p>

      </ml-login-form>
      
    </bs-col>
  </bs-row>
</bs-container>

