<%= html_import_tag "main_layout/ml_option/ml_submit_button", 'data-turbolinks-track' => true%>
<%= html_import_tag "main_layout/ml_form/ml_login_form/ml_login_form", 'data-turbolinks-track' => true%>
<%= html_import_tag "main_layout/ml_form/ml_login_form/ml_login_inner_form", 'data-turbolinks-track' => true%>
<bs-container>
  <bs-row>
    <bs-col xc="12" sm="8" smoffset="2" md="6" mdoffset="3">

      <ml-login-form>

        <h2>로그인</h2>
      
        <%= form_for(:session, url: login_path, :html => {:id => 'login_form'})  do |f| %>

          <ml-login-inner-form>

            <paper-input-decorator id="login_email" label="이메일" floatingLabel>
            <%= f.text_field :email, is:"core-input"%>
            </paper-input-decorator>

            <paper-input-decorator id="login_password" label="비밀번호" floatingLabel>
            <%= f.password_field :password, is:"core-input" %>
            </paper-input-decorator>

            <%= f.label :remember_me, id:"login_checkbox" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me on this computer</span>
            <% end %>
            
            <ml-submit-button class="login_bottom"><%= f.submit "로그인",is:"core-input"%></ml-submit-button>

            <span class="login_bottom">New user? <%= link_to "Sign up now!", signup_path %></span>

          </ml-login-inner-form>

        <% end %>

      </ml-login-form>
      
    </bs-col>
  </bs-row>
</bs-container>

