- provide(:title, "Edit user")

=simple_form_for @user  do |f|  
  %ml-profile-edit
    #pictures
      = f.simple_fields_for :pictures , html: { multipart: true } do |picture|
        = render 'picture_fields', :f => picture
      .links
        = link_to_add_association 'add pic', f, :pictures

    #namginmal      
      %paper-input-decorator{:label=>"한 문장 끄적여봐요",:floatingLabel=>""}
        =f.input :status , label: false, wrapper: false,:maxlength=>"40"
        %paper-char-counter{:class=>"counter", :target=>"user_status"}

    #name
      %paper-input-decorator{:label=>"이름을 적으시오",:floatingLabel=>""}
        =f.input :name , label: false, wrapper: false

    #using_languages      
      %paper-button{:id=>"using_languages_add",:raised=>""}
        = link_to_add_association(f, :languages, :'data-association-insertion-method'=>"after") do
          %core-icon{:icon=>"add"}
      = f.simple_fields_for :languages  do |language|
        = render 'language_fields', :f => language

    #wish_languages      
      %paper-button{:id=>"wish_languages_add",:raised=>""}
        = link_to_add_association(f, :wish_languages, :'data-association-insertion-method'=>"after") do
          %core-icon{:icon=>"add"}
      = f.simple_fields_for :wish_languages  do |wish_language|
        = render 'wish_language_fields', :f => wish_language

    #gender
      =f.input :gender, label: "성별" , collection: ["여자", "남자"], prompt: "성별을 선택하세요", label: false

    #country
      =f.input :country , priority: ["KR"], label: false
      =f.input :region, label: false
      =f.input :city, label: false

    #interests
      =f.hidden_field :interests, label: false
      %div{:id=>"buttons_field"}
        -['언어교환','술','공부','연애','등산','친목','여행','봉사활동','클럽','비즈니스','게임','독서','영화','공연','음악','맛집'].each do |r|          
          %paper-button{:class=>'interests_buttons',:raised=>"false"} #{r}

    #learn_languages
      =f.input :matching_lan , label: "배우고 싶은 언어"  , collection: ["English", "Korean", "Japanese", "Chinese"], label: false

    / =f.input :matching_interest , label: "관심사" , collection: current_user.interests.split(",")

    #wish_age
      =f.input :matching_age_from  , collection: 14..60 ,label: false
      =f.input :matching_age_to  , collection: 14..60 , label: false

    #introduce      
      %paper-input-decorator{:label=>"쓰든지 말든지",:floatingLabel=>""}
        %paper-autogrow-textarea             
          =f.input :introduce, label: false, wrapper: false,:maxlength=>"100"
        %paper-char-counter{:class=>"counter", :target=>"user_introduce"}      

    #submit
      =f.submit "수정하기"

:javascript





