<% provide(:title, "friends") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
     
      <span><%= link_to "view my profile", current_user unless current_user?@user %></span>
    <section class="stats">
      친구 <%= @users.count %> 명
      <% if @users.any? %>
         
        <div class="user_avatars">

          <% @users.each do |user| %>
            <%= link_to user.name, user %> <br>
          <% end %>
        </div>
      <% end %>
      <!-- <%= render 'shared/stats' %> -->
      
    </section>
  </aside>
  <div class="col-md-8">
    <h3>friends</h3>
    <% if @users.any? %>
      <ul class="users friends">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  
  </div>

   <div class="col-md-8">
    <% @requester = @user.request_friends %>
    <h3>친구요청(<%=@requester.count %>)</h3>
    <% if @user.request_friends.any? %>
      <ul class="requeste friends">
        <%= render @requester %>
      </ul>
    
    <% end %>
  
  </div>
</div>