<% provide(:title, @user.name) %>
<%=image_tag @pic.name.url(:jumbo) if @pic = @user.pictures.first  %>
<%= @user.name %>
<% if current_user?@user %>
<%= link_to friends_user_path(@user) , clas: "btn btn-default btn-sm" do %>
<span class="glyphicon glyphicon-user">friends : <%=  @user.friends.count %> 명</span>
<% end %>
<% end %>
<br>
<%= render 'shared/stats' %>
<%= render 'friend_form' if logged_in? %>

