=simple_form_for @user  do |f| 
  =render 'shared/error_messages' , object: f.object

  %core-animated-pages{:transitions=>"cross-fade-all"}
    %ml-signup-firstconfig-form0
      =f.input :gender, label: "성별" , collection: ["여자", "남자"], prompt: "성별을 선택하세요"
      %paper-button{:id=>"languages_add",:raised=>""}
        = link_to_add_association(f, :languages, :'data-association-insertion-method'=>"after") do
          %core-icon{:icon=>"add"}
      = f.simple_fields_for :languages  do |language|
        = render 'language_fields', :f => language         
      .text
        = f.label :introduce,"자기소개"
        %paper-input-decorator{:label=>"쓰든지 말든지",:floatingLabel=>""}
          %paper-autogrow-textarea             
            = f.input :introduce, label: false, wrapper: false,:maxlength=>"100"
          %paper-char-counter{:class=>"counter", :target=>"user_introduce"}
      .button-form
        %paper-button{id:"nextclick0"} 다음

    %ml-signup-firstconfig-form1
      #pictures
        = f.fields_for :pictures , html: { multipart: true } do |picture|
          %div{:class=>'fileinput fileinput-new',:'data-provides' => 'fileinput'}
            %div{:class=>'fileinput-new thumbnail', :style => 'width: 100%; height: 100%;'}
              %img{:'data-src'=>'holder.js/100%x100%'}
            %div{:class=>'fileinput-preview fileinput-exists thumbnail', :style=>'width: 100%; height: 100%;'}
            %div
              %span{:class=>'btn btn-default btn-file'}
                %span{:class=>'fileinput-new'} select
                %span{:class=>'fileinput-exists'} change
                = picture.file_field :name , label:  "프로필 사진"
              %a{:class=>'btn btn-default fileinput-exists',:'data-dismiss'=>'fileinput'} remove
      =f.input :interests , label: "관심사"
      .button-form
        %paper-button{id:"beforeclick0"} 이전
        %paper-button{id:"nextclick1"} 다음      

    %ml-signup-firstconfig-form2
      .first_config_form2
        %h3 1:1 매칭 설정
        =f.input :matching_lan , label: "배우고 싶은 언어"  , collection: ["English", "Korean", "Japanese", "Chinese"]
        / =f.input :matching_interest , label: "관심사" , collection: current_user.interests.split(",")

        %h4 나이
        =f.input :matching_age_from  , collection: 14..60 
        =f.input :matching_age_to  , collection: 14..60 
      .button-form
        %paper-button{id:"beforeclick1"} 이전
        =f.submit "Save chages"

:javascript
   var eventQuery = document.querySelector('core-animated-pages');
   for(var i=0; i<2; i++){
     document.querySelector('#nextclick'+i).addEventListener("click", (function (index) {   
            return function () {
                eventQuery.selected = index+1;
            };
        }(i)), false);
    document.querySelector('#beforeclick'+i).addEventListener("click", (function (index) {   
          return function () {
              eventQuery.selected = index;
          };
      }(i)), false);
   }
   