=simple_form_for @user  do |f| 
  =render 'shared/error_messages' , object: f.object

  %core-animated-pages{:transitions=>"cross-fade-all"}
    %ml-signup-firstconfig-form0{:class=>"length"}
      =f.input :gender, label: "성별" , collection: ["여자", "남자"], prompt: "성별을 선택하세요"
      %paper-button{:id=>"languages_add",:raised=>""}
        = link_to_add_association(f, :languages, :'data-association-insertion-method'=>"after") do
          %core-icon{:icon=>"add"}
      = f.simple_fields_for :languages  do |language|
        = render 'language_fields', :f => language         
      .text
        = f.label :introduce,"자기소개"
        %paper-input-decorator{:label=>"쓰든지 말든지",:floatingLabel=>""}
          %paper-autogrow-textarea             
            = f.input :introduce, label: false, wrapper: false,:maxlength=>"100"
          %paper-char-counter{:class=>"counter", :target=>"user_introduce"}
      .button-form
        %paper-button{id:"nextclick0"} 다음

    %ml-signup-firstconfig-form1{:class=>"length"}
      #interests
        %ml-highlight
          %h4 5개 까지만 선택해 주세요.
        =f.hidden_field :interests , label: "관심사"
        %div{:id=>"buttons_field"}
          -['언어교환','술','공부','연애','등산','친목','여행','봉사활동','클럽','비즈니스','게임','독서','영화','공연','음악','맛집'].each do |r|          
            %paper-button{:class=>'interests_buttons',:raised=>"false"} #{r}      
      .button-form
        %paper-button{id:"beforeclick0"} 이전
        %paper-button{id:"nextclick1"} 다음  

    %ml-signup-firstconfig-form2{:class=>"length"}
      =f.input :matching_lan , label: "배우고 싶은 언어"  , collection: ["English", "Korean", "Japanese", "Chinese"], prompt: "언어 선택"
      =f.input :matching_age_from  , collection: 14..60, label: false, prompt: "최소 나이", wrapper: false
      =f.input :matching_age_to  , collection: 14..60 , label: false, prompt: "최대 나이", wrapper: false      
      .button-form
        %paper-button{id:"beforeclick1"} 이전
        %paper-button{id:"nextclick2"} 다음

    %ml-signup-firstconfig-form3{:class=>"length"}
      #pictures
        = f.fields_for :pictures , html: { multipart: true } do |picture|
          %div{:class=>'fileinput fileinput-new',:'data-provides' => 'fileinput'}
            %div{:class=>'fileinput-new thumbnail', :style => 'width: 150px; height: 150px;'}
              %img{:'data-src'=>'holder.js/100%x100%'}
            %div{:class=>'fileinput-preview fileinput-exists thumbnail'}
            %div
              %span{:class=>'btn btn-default btn-file'}
                %span{:class=>'fileinput-new'} 이미지 선택
                %span{:class=>'fileinput-exists'} 이미지 변경
                = picture.file_field :name , label:  "프로필 사진"
      .button-form
        %paper-button{id:"beforeclick2"} 이전
        %ml-submit-button
          =f.submit "설정 완료", is:"core-input"

:javascript
  var ib_arry = [];  
  var ib_arry_index = 0;
  
  $(function id_set(){
    var buttons_length = $(".interests_buttons").length;
    for(var i=0; i<buttons_length; i++){
      $(".interests_buttons").eq(i).attr("id","ib_"+i);
    }
  });

  $(".interests_buttons").on("click",function(e){
    var current_id = $(this).index();
    var current_text = $("#ib_"+current_id).text();
    var current_target = $(e.currentTarget);
    ib_arry_refresh(current_text,current_target);
  });

  function ib_arry_refresh(ct,ctarget){
    var split = $("#user_interests").val().split(",");
    if(ib_arry.length===0){
      ctarget.attr("raised","true")
      ib_arry[ib_arry_index] = ct;
      ib_arry_index++;
      text_val_input();    
    }
    else{
      if(($.inArray(ct,ib_arry))===-1){        
        if(split.length <=4){
          ctarget.attr("raised","true");
          ib_arry[ib_arry_index] = ct;
          ib_arry_index++;
          text_val_input();          
        }else{
          ctarget.attr("raised","false");
        }
      }else{
        ctarget.attr("raised","false");
        ib_arry.splice($.inArray(ct,ib_arry),1);
        ib_arry_index--;
        text_val_input();
      }
    }       
  }

  function text_val_input(){
    var interests_length = ib_arry.length;
    $("#user_interests").val("");
    for(var i=0; i<interests_length;i++){
      if(i===0){
          $("#user_interests").val($("#user_interests").val()+ib_arry[i]);
        }else{
          $("#user_interests").val($("#user_interests").val()+","+ib_arry[i]);
        }
    }
  }


  //javascript traning(closure ex)
  //next,before button
  var eventQuery = document.querySelector('core-animated-pages');
  var length = document.querySelectorAll('.length').length;
  for(var i=0; i<length-1; i++){
    document.querySelector('#nextclick'+i).addEventListener("click", (function (index) {   
          return function () {
              eventQuery.selected = index+1;
          };
      }(i)), false);
    document.querySelector('#beforeclick'+i).addEventListener("click", (function (index) {   
          return function () {
              eventQuery.selected = index;
          };
      }(i)), false);
   }

   

