
<!-- <%= link_to "sample app", '#', id: "logo" %> -->
<% if logged_in? %>

<ml-toolbar isTablet="991px">

<%= link_to "1:1언어교환", matching_path ,class:"mo-tb-left" %>

<%= link_to "자유모임", meetings_path ,class:"mo-tb-left" %>

<ml-response-form isPhone="767px">
	<%= link_to("#",class:"mo-tb-right desktop_form") do%>
        <core-icon icon="mail"></core-icon>
        <span>편지</span>
    <% end %>

	<%= link_to("",class:"mo-tb-right desktop_form") do%>
		<core-icon icon="alarm"></core-icon>
		<span>알람</span>
	<% end %>

	<%= link_to(users_path,class:"mo-tb-right mobile_form") do%>
		<core-icon icon="face"></core-icon>
	<% end %>

	<%= link_to("",class:"mo-tb-right mobile_form") do%>
		<core-icon icon="alarm"></core-icon>
	<% end %>
</ml-response-form>

<%=current_user.name %>

<%= link_to "대시보드", "#",class:"mo-tb-fixed" %>

<%= link_to "프로필", current_user,class:"mo-tb-fixed" %>

<%= link_to "프로필 수정", edit_user_path(current_user),class:"mo-tb-fixed" %>

<%= link_to "개인 사진첩", "#",class:"mo-tb-fixed" %>

<%= link_to "로그아웃", logout_path, method: "delete",class:"mo-tb-fixed" %>

</ml-toolbar>                          

<% else %>

<ml-toolbar-beforelogin>                          

<%= link_to "회원가입", signup_path, class:"mo-tb-fixed"%>

<%= link_to "로그인", login_path,class:"mo-tb-fixed" %>

</ml-toolbar-beforelogin>                          

<% end %>