<!DOCTYPE html>
<html>
<head>
  <title>LanguageApp|<%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--   stylesheet_link_tag 'application', { media: 'all',
                                     'data-turbolinks-track' => true } 
 파라미터로 마지막 인자가 해쉬일경우 중괄호 생략가능, "-"가(data-turbolinks-track) 있을경우 new syntex(data-turbolinks-track: true) 사용못함, hashrocket형으로 표현
                                 -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
</head>
<body>
  <%= render 'layouts/header' %>

    <div class="container">
 <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>     
<%= yield %>
</div>
</body>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
</html>
