<!DOCTYPE html>
<html>
  <head>
    <title>LanguageApp|<%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, 'shim-shadowdom' => 'nil' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
    <%= csrf_meta_tags %>    
    <%= render 'layouts/shim' %>
    <%= html_import_tag "ml_newbie", 'data-turbolinks-track' => true %>    
  </head>

  <body touch-action="auto" > 

    <main-layout>
      <core-header-panel>
        <header class="core-header"layout horizontal center-justified center>
          <div >
            프로필 등록
          </div>
        </header>
        <%= yield %>
      </core-header-panel>
    </main-layout>
    
    <%= yield(:javascript) %>
    
    <!-- custom js import -->
    <%= javascript_include_tag 'custom', 'data-turbolinks-track' => true %>
  </body>
</html>
<%= debug(params) if Rails.env.development? %>