<!DOCTYPE html>
<html>
  <head>
    
    <title>LanguageApp|<%= yield(:title) %></title>    

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag    'my_theme', media: 'all', 'data-turbolinks-track' => true,'shim-shadowdom' => "" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', params[:controller],'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

    <%= render 'layouts/shim' %> 

    <%= html_import_tag "application", 'data-turbolinks-track' => true%>

    <%= html_import_tag "main_layout/ml_header/ml_home_link", 'data-turbolinks-track' => true%>
    <%= html_import_tag "main_layout/ml_option/ml_response_form", 'data-turbolinks-track' => true%>
    <%= html_import_tag "main_layout/ml_footer/ml_footer_links", 'data-turbolinks-track' => true%>
    <%= html_import_tag "main_layout/ml_scaffold/ml_scaffold", 'data-turbolinks-track' => true%>
  </head>

  <body touch-action="auto" >
      
      <ml-scaffold>

        <core-header-panel navigation flex mode="seamed">
            <core-toolbar layout vertical center>            
                <ml-highlight >
                    요기 사진이랑 이름
                </ml-highlight>            
            </core-toolbar>
            <core-menu theme="core-light-theme">
                <core-item>요기에 설정</core-item>
                <core-item><%= link_to "대시보드", "#"%></core-item>
                <core-item><%= link_to "친구", friends_user_path(@user)%></core-item>
                <core-item><%= link_to "프로필", current_user%></core-item>
                <core-item><%= link_to "프로필 수정", edit_user_path(current_user)%></core-item>
                <core-item><%= link_to "개인 사진첩", "#"%></core-item>
                <core-item><%= link_to "로그아웃", logout_path, method: "delete"%></core-item>
            </core-menu>
        </core-header-panel>

        
            <%= link_to(root_path,:id=>"logo") do %>
                <home-link>
                LOGO
                </home-link>
            <% end %>
            
            <%= link_to "1:1언어교환", matching_path ,class:"mo-tb-left" %>

            <%= link_to "자유모임", meetings_path ,class:"mo-tb-left" %>

            <ml-response-form isPhone="767px">
            <%= link_to("#",class:"mo-tb-right desktop_form") do%>
                <core-icon icon="mail"></core-icon>
                <span>편지</span>
            <% end %>

            <%= link_to("",class:"mo-tb-right desktop_form") do%>
                <core-icon icon="alarm"></core-icon>
                <span>알람</span>
            <% end %>

            <%= link_to(users_path,class:"mo-tb-right mobile_form") do%>
                <core-icon icon="face"></core-icon>
            <% end %>

            <%= link_to("",class:"mo-tb-right mobile_form") do%>
                <core-icon icon="alarm"></core-icon>
            <% end %>
            </ml-response-form>

        <div body>
            <% flash.each do |message_type, message| %>  
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <!-- equal <div class="alert alert-<%= message_type %>"><%= message %></div> -->
            <% end %>

            <%= yield %>
        </div>

        <div footer>
            <ml-footer-links>
              <%= link_to "logo", root_path%>
            </ml-footer-links>
            <%= render 'layouts/footer' %>        
            <%= debug(params) if Rails.env.development? %>
        </div> 
        <!-- custom js import -->
        <%= javascript_include_tag 'custom', 'data-turbolinks-track' => true %>

      </ml-scaffold>
        <%= yield(:javascript) %>
  </body>
</html>