<!DOCTYPE html>
<html>
  <head>
    <title>LanguageApp|<%= yield(:title) %></title>    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag    'my_theme', media: 'all', 'data-turbolinks-track' => true,'shim-shadowdom':"" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= html_import_tag "application", 'data-turbolinks-track' => true%>  
    <%= render 'layouts/shim' %>  
    
  </head>

  <body touch-action="auto">

      <core-scaffold>
      <core-header-panel navigation flex mode="seamed">
        <core-toolbar>Application</core-toolbar>
        <core-menu theme="core-light-theme">
          <core-item icon="settings" label="item1"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
          <core-item icon="settings" label="item2"></core-item>
        </core-menu>
      </core-header-panel>
      <div tool>Title</div>
      <div>Main content goes here...</div>
    </core-scaffold>

  </body>
</html>