<!DOCTYPE html>
<html>
  <head>
    <title>LanguageApp|<%= yield(:title) %></title>    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag    'my_theme', media: 'all', 'data-turbolinks-track' => true,'shim-shadowdom' => "" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
    <%= html_import_tag "application", 'data-turbolinks-track' => true%>   
    
  </head>

  <body touch-action="auto" unresolved>

      <ml-scaffold>

        <core-header-panel navigation flex mode="seamed">
            <%= link_to(root_path) do %>
            <core-toolbar layout vertical center>            
                <ml-highlight >
                LOGO
                </ml-highlight>            
            </core-toolbar>
            <% end %>
            <core-menu theme="core-light-theme">
              <core-item>설정과</core-item>
                <core-item>네비게이션 아이템을</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
                <core-item>여기에</core-item>
            </core-menu>
        </core-header-panel>

        <div header><%= render 'layouts/header' %></div>

        <div body>
            <% flash.each do |message_type, message| %>  
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <!-- equal <div class="alert alert-<%= message_type %>"><%= message %></div> -->
            <% end %>

            <%= yield %>
        </div>

        <div footer>
            <ml-footer-links>
              <%= link_to "logo", root_path%>
            </ml-footer-links>
            <%= render 'layouts/footer' %>        
            <%= debug(params) if Rails.env.development? %>
        </div> 
        <!-- custom js import -->
        <%= javascript_include_tag 'custom', 'data-turbolinks-track' => true %>

      </ml-scaffold>

  </body>
</html>